.box {
	border: 5px double #000;
	border-radius: 10px;
	padding: 10px;
	margin-top: 5px;
	position: relative;
	background: #b3f3ff;
	width: 90%;
	z-index: 5;
	/* It specifies the order of an element */
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header {
	float: right;
	margin-right: 5px;
}

/* Style the list */
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	/*background-color: #eee; original style*/
	background-color: #fff;
	border: 3px double #999;
	border-radius: 5px;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "||\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

input {
	width: 250px;
}

input[type='submit'] {
	width: 255px;
	background-color: #abcdef;
}

input[type='submit']#addpreference {
	width: 263px;
	background-color: #abcdef;
}

input[type='submit']#btnidea {
	width: 125px;
	background-color: #abcdef;
}

input[type='submit']#register {
	width: 255px;
	background-color: #abcdef;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'] {
	width: 255px;
	background-color: #abcdef;
}

input[type='text']#txtoption,
input[type='submit']#btnoption {
	width: 185px;
	background-color: #abcdef;
}

select {
	width: 260px;
	background-color: #abcdef;
}

select#classicalusertype {
	width: 180px;
	background-color: #abcdef;
}

select#lstoption {
	width: 175px;
	background-color: #abcdef;
}

select#lstopp {
	width: 125px;
	background-color: #abcdef;
}

table {
	background-color: #fff;
	border: 3px double #999;
	border-radius: 5px;
	padding: 15px;
	width: 80%;
	box-shadow: 3px 3px 9px #999;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

table#preference {
	background-color: #fff;
	border: 3px double #999;
	border-radius: 5px;
	padding: 15px;
	width: 100%;
	box-shadow: 3px 3px 9px #999;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}

td,
th {
	width: 70%;
}

th.p1,
td.p1 {
	width: 15%;
}

td.p2,
th.p2 {
	width: 55%;
}

th.p1 a {
	text-decoration: none;
}

th.p3 {
	width: 30%;
	text-align: left;
}

td.p4 {
	width: 70%;
}

th.pinstr,
td.pinstr {
	width: 10%;
}

textarea {
	width: 25%;
	height: 100px;
}